.burger-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 6px;
    gap: 3px;
    box-sizing: border-box;
}

.dot-1 {
    width: 14px;
    height: 3px;
    background: rgb(40, 40, 40);
}

.dot-2 {
    width: 18px;
    height: 3px;
    background: rgb(40, 40, 40);
}

.dot-3 {
    width: 14px;
    height: 3px;
    background: rgb(40, 40, 40);
}
