.dots-button {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 8px;
    gap: 3px;
    box-sizing: border-box;
}

.dot-1 {
    width: 9px;
    height: 3px;
    background: rgb(90, 90, 90);
}

.dot-2 {
    width: 12px;
    height: 3px;
    background: rgb(90, 90, 90);
}

.dot-3 {
    width: 6px;
    height: 3px;
    background: rgb(90, 90, 90);
}
