@inherits UIComponent

@if (ButtonGroups is null) { return; }

<nav class="horizontal-menu">
    <div class="horizontal-menu-content">
        <div class="search-panel"></div>
        <div class="horizontal-menu-list">
            @foreach (var group in ButtonGroups)
            {
                <div class="button-group">
                    @foreach (var button in group.Buttons)
                    {
                        <button class="button" @onclick=@InvokeVoid(OnButtonClick, button.Id)>
                            @if (Mode == ButtonMode.Text)
                            {
                                @button.Name
                            }
                            else
                            {
                                <img class="button-icon" src=@button.IconUrl />
                            }
                        </button>
                    }
                </div>
            }
        </div>
    </div>
</nav>

@code {
    public delegate Task OnButtonClickDelegate(string id);

    [Parameter] public ButtonMode Mode { get; set; }
    [Parameter] public ButtonGroup[] ButtonGroups { get; set; }
    [Parameter] public OnButtonClickDelegate OnButtonClick { get; set; }

    private string _sidemenuContentAlwaysOnCssClass => IsMenuAlwaysActive ? "always-on" : "";

    public record ButtonGroup(Button[] Buttons);
    public record Button(string Id, string Name, string IconUrl);

    public enum ButtonMode
    {
        Text,
        Icon,
        TextAndIcon
    }

    public bool IsMenuAlwaysActive { get; private set; }
    private void OnMenuButtonClick()
    {
        IsMenuAlwaysActive = !IsMenuAlwaysActive;

        int size = IsMenuAlwaysActive ? 225 : 0;
        //OnSizeChanged?.Invoke(size);

        InvokeAsync(StateHasChanged);
    }
}
