@using Corelibs.Basic.Collections;

@inherits UIComponent

<div class="vlist-card">

    <div class="list-title-panel">
        <div class="list-title-texts">
            @if (Title.IsOk())
            {
                @if (!TitleEdit)
                {
                    <h4 class="list-title">@Title</h4>
                }
                else
                {
                    <EditableText Text=@Title class="no-select" @ref=_editableText
                        Mode=EditableText.ModeType.EditOnClick
                        FontSize=@("15px")
                        FontWeight=@("1000")
                        OnSubmit=@(name => OnTitleEditInternal("", name, ""))
                        OnDiscard=@OnDiscardEdit />
                }
            }
            @if (Description.IsOk())
            {
                <div class="description">
                    @if (!DescriptionEdit)
                    {
                        <span class="list-description">@Description</span>
                    }
                    else
                    {
                        <EditableText Text=@Description class="no-select" @ref=_editableText
                            Mode=EditableText.ModeType.EditOnClick
                            FontSize=@("13px")
                            OnSubmit=@(name => OnDescriptionEditInternal("", name, ""))
                            OnDiscard=@OnDiscardEdit />
                    }
                </div>
            }
        </div>
        @if (DropdownModel is not null)
        {
            <Dropdown Model=@DropdownModel OnOptionSelected=@(opt => OnMenuOptionSelectedInternal(opt, 0, ""))>
                <TriggerComponent>
                    <BurgerButton />
                </TriggerComponent>
            </Dropdown>
        }
    </div>
    <div class="items">
        

        @RenderList("", "", ListItems, nestLevel: 0)

    </div>

</div>

@{
    RenderFragment RenderList(string parentId, string parentType, List<ListItem> items, int nestLevel)
    {
        @if (_isAddSelected && nestLevel == _nestLevelSelected)
        {
            <EditableText Text="Name.." class="no-select" @ref=_editableText
                FontSize=@("0.83em")
                PaddingLeft=@($"{_editableTextPaddingLeft}px")
                OnSubmit=@(name => OnAddItemOnTopInternal(name, parentId, parentType))
                OnDiscard=@OnDiscardEdit />
        }

        if (items.IsNullOrEmpty())
            return null;

        return builder =>
        {
            @for (int i = 0; i < ListItems.Count; i++)
            {
                var item = ListItems[i];
                <div class="list-item">
                    <div class="list-title-texts">
                        <EditableText Text=@item.Name class="no-select" @ref=_editableText
                            Mode=EditableText.ModeType.EditOnClick
                            FontSize=@("13px")
                            PaddingLeft=@($"{ItemPaddingLeft * nestLevel}px")
                            OnSubmit=@(name => OnItemNameEditInternal(item.Id, name, parentType))
                            OnDiscard=@OnDiscardEdit />
                    </div>
                    @if (ItemsDropdownModel is not null)
                    {
                        <Dropdown Model=@ItemsDropdownModel OnOptionSelected=@(opt => OnMenuOptionSelectedInternal(opt, nestLevel, ""))>
                            <TriggerComponent>
                                <DotsButton />
                            </TriggerComponent>
                        </Dropdown>
                    }
                </div>

                if (!item.Children.IsNullOrEmpty())
                {
                    @RenderList(item.Id, item.Type, item.Children, nestLevel + 1);
                }
            }
        };
    }
}

@code {
    public delegate Task<bool> EditNameDelegate(string id, string name, string? parentType = null);
    public delegate Task<bool> AddDelegate(string name, string parentId, string? parentType = null);

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string Title { get; set; }
    [Parameter] public bool TitleEdit { get; set; }
    [Parameter] public EditNameDelegate OnTitleEdit { get; set; }

    [Parameter] public string Description { get; set; }
    [Parameter] public bool DescriptionEdit { get; set; }
    [Parameter] public EditNameDelegate OnDescriptionEdit { get; set; }

    [Parameter] public AddDelegate OnAddItemOnTop { get; set; }
    [Parameter] public Dropdown.OnOptionSelectedDelegate OnMenuOptionSelected { get; set; }
    [Parameter] public Item.OnItemClickDelegate? OnItemClick { get; set; }
    [Parameter] public EditNameDelegate? OnItemNameEdit { get; set; }

    [Parameter] public Dropdown.ViewModel DropdownModel { get; set; } = _defaultDropdownModel;
    [Parameter] public Dropdown.ViewModel ItemsDropdownModel { get; set; }

    [Parameter] public List<Dropdown.Option> AdditionalDropdownOptions { get; set; }
    [Parameter] public List<ListItem> ListItems { get; set; } = new();

    private EditableText _editableText;
    private int _editableTextPaddingLeft;

    private const int ItemPaddingLeft = 10;

    protected override async Task OnInitializedAsync()
    {
        if (!AdditionalDropdownOptions.IsNullOrEmpty())
            DropdownModel.Options.AddRange(AdditionalDropdownOptions);
    }

    private bool _isAddSelected;
    private int _nestLevelSelected;
    private async Task<bool> OnMenuOptionSelectedInternal(Dropdown.Option option, int nestLevel, string parentType)
    {
        if (option.Id is "add")
        {
            _isAddSelected = true;
            _nestLevelSelected = nestLevel;
            await InvokeAsync(StateHasChanged);
        }

        return true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            return;

        if (_isAddSelected)
        {
            _editableTextPaddingLeft = ItemPaddingLeft + _nestLevelSelected * ItemPaddingLeft;
            await _editableText.SetIsEdit(true);
        }
    }

    protected async Task<bool> OnTitleEditInternal(string id, string name, string parentType = null)
    {
        if (!await InvokeBool(OnTitleEdit, id, name, parentType)())
        {
            await InvokeAsync(StateHasChanged);
            return false;
        }

        //await InvokeAsync(StateHasChanged);

        return true;
    }

    protected async Task<bool> OnItemNameEditInternal(string id, string name, string parentType = null)
    {
        if (!await InvokeBool(OnItemNameEdit, id, name, parentType)())
        {
            await InvokeAsync(StateHasChanged);
            return false;
        }

        //await InvokeAsync(StateHasChanged);

        return true;
    }

    protected async Task<bool> OnDescriptionEditInternal(string id, string name, string parentType = null)
    {
        if (!await InvokeBool(OnDescriptionEdit, id, name, parentType)())
        {
            await InvokeAsync(StateHasChanged);
            return false;
        }

        //await InvokeAsync(StateHasChanged);

        return true;
    }

    protected async Task<bool> OnAddItemOnTopInternal(string name, string parentId, string parentType)
    {
        _isAddSelected = false;
        if (!await InvokeBool(OnAddItemOnTop, name, parentId, parentType)())
        {
            await InvokeAsync(StateHasChanged);
            return false;
        }

        ListItems.Insert(0, new("", name));
        //await InvokeAsync(StateHasChanged);

        return true;
    }

    protected Task OnDiscardEdit(string name)
    {
        _isAddSelected = false;

        return InvokeAsync(StateHasChanged);
    }

    private Task OnItemClickInternal(string id, string type = null)
    {
        OnItemClick?.Invoke(id, type);
        return Task.CompletedTask;
    }

    private static readonly Dropdown.ViewModel _defaultDropdownModel = new(
        Options: new()
        {
            new("add", "Add"),
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    public record ListItem(string Id, string Name, string? Type = null, List<ListItem>? Children = null);
}
