<div class="list">
    <div class="title-panel">
        <div class="title-texts">
            <h4 class="title">@Title</h4>
            <span class="description">@Description</span>
        </div>
        <BurgerButton />
    </div>
    <div class="items">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
