.list {
    display: flex;
    flex-direction: column;

    background: white;

    padding: 20px;

    width: 100%;
    box-sizing: border-box;
}

.items {
    display: flex;
    flex-direction: column;
}

.title-panel {
    display: flex;
    justify-content: space-between;
}

.title-texts {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
}

.menu-button-x {
    display: none;
    right: 0px;
    top: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
}

.menu-button-icon {
    width: 100%;
    height: 100%;
}

.title {
    margin: 0;
    padding: 0; 
}

.description {
    font-size: 12px;
    color: rgb(128, 128, 128);
}

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

dic ::deep .burger-button {
    padding: 3px;
}

@media only screen and (max-width: 600px) {
    .list {
        width: 100%;
    }
}
