<div class="list">
    <div class="title-panel">
        <h4 class="title">@Title</h4>
        <span class="description">@Description</span>
        <button class="menu-button menu-button-x">
            <img class="menu-button-icon" src=@MenuIconUrl />
        </button>
    </div>
    <div class="items">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string MenuIconUrl { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
