<div class="list">
    <div class="title-panel">
        <div class="title-texts">
            <h4 class="title">@Title</h4>
            <span class="description">@Description</span>
        </div>
        <Dropdown Model=@DropdownModel />
        @*<BurgerButton />*@
    </div>
    <div class="items">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private Dropdown.ViewModel DropdownModel = new(
        Options: new()
        {
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
        },
        Trigger: new(IsFixed: false, Value: "Menu", BgOn: false)
    );
}
