@using Corelibs.Basic.Collections;

@inherits UIComponent

<div class="vlist-card">

    <div class="list-title-panel">
        <div class="list-title-texts">
            @if (Title.IsOk())
            {
                <h4 class="list-title">@Title</h4>
            }
            @if (Description.IsOk())
            {
                <span class="list-description">@Description</span>
            }
        </div>
        @if (DropdownModel is not null)
        {
            <Dropdown Model=@DropdownModel OnOptionSelected=OnMenuOptionSelectedInternal>
                <TriggerComponent>
                    <BurgerButton />
                </TriggerComponent>
            </Dropdown>
        }
    </div>
    <div class="items">
        @if (_isAdd)
        {
            <EditableText Text="Name.." class="no-select" @ref=_editableText
                FontSize=@("0.83em")
                PaddingLeft=10
                PaddingRight=10
                OnSubmit=@OnAddItemOnTopInternal
                OnDiscard=@OnDiscardEdit />
        }

        @for (int i = 0; i < ListItems.Count; i++)
        {
            var child = ListItems[i];
            <Item_1 Id=@child.Id Title=@child.Name DropdownModel=@ItemsDropdownModel OnItemClick=OnItemClickInternal />
        }

    </div>

</div>

@code {
    public delegate Task<bool> NameDelegate(string name);

    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public NameDelegate OnAddItemOnTop { get; set; }
    [Parameter] public Dropdown.OnOptionSelectedDelegate OnMenuOptionSelected { get; set; }
    [Parameter] public Item_1.OnItemClickDelegate? OnItemClick { get; set; }

    [Parameter] public Dropdown.ViewModel DropdownModel { get; set; } = _defaultDropdownModel;
    [Parameter] public Dropdown.ViewModel ItemsDropdownModel { get; set; }

    [Parameter] public List<Dropdown.Option> AdditionalDropdownOptions { get; set; }
    [Parameter] public List<ListItem> ListItems { get; set; } = new();

    private EditableText _editableText;

    protected override async Task OnInitializedAsync()
    {
        if (!AdditionalDropdownOptions.IsNullOrEmpty())
            DropdownModel.Options.AddRange(AdditionalDropdownOptions);
    }

    private bool _isAdd;
    private async Task<bool> OnMenuOptionSelectedInternal(Dropdown.Option option)
    {
        if (option.Id is "add")
        {
            _isAdd = true;
            await InvokeAsync(StateHasChanged);
        }

        return true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            return;

        if (_isAdd)
            await _editableText.SetIsEdit(true);
    }

    protected async Task<bool> OnAddItemOnTopInternal(string name)
    {
        _isAdd = false;
        if (!await InvokeBool(OnAddItemOnTop, name)())
        {
            await InvokeAsync(StateHasChanged);
            return false;
        }

        ListItems.Insert(0, new("", name));
        //await InvokeAsync(StateHasChanged);

        return true;
    }

    protected Task OnDiscardEdit(string name)
    {
        _isAdd = false;

        return InvokeAsync(StateHasChanged);
    }

    private Task OnItemClickInternal(string id)
    {
        OnItemClick?.Invoke(id);
        return Task.CompletedTask;
    }

    private static readonly Dropdown.ViewModel _defaultDropdownModel = new(
        Options: new()
        {
            new("add", "Add"),
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    public record ListItem(string Id, string Name);
}
