<div class="item">
    <h5 class="title">@Title</h5>
    <Dropdown Model=@DropdownModel OnOptionSelected=OnMenuOptionSelected>
        <TriggerComponent>
            <DotsButton />
        </TriggerComponent>
    </Dropdown>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public Dropdown.OnOptionSelectedDelegate OnMenuOptionSelected { get; set; }
    [Parameter] public Dropdown.ViewModel DropdownModel { get; set; }
}
