.item {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}

.title {
    font-weight: lighter;
    margin: 0;
}

.div, ::deep .dots-button {
    align-self: flex-end;
}
