<div class="item">
    <h5 class="title">@Title</h5>
    <Dropdown Model=@MenuDropdownModel>
        <TriggerComponent>
            <DotsButton />
        </TriggerComponent>
    </Dropdown>
</div>

@code {
    [Parameter] public string Title { get; set; }

    private Dropdown.ViewModel MenuDropdownModel = new(
        Options: new()
            {
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            "Add",
            "Remove",
            "Edit",
            },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );
}
