.item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 30px;
}

.title {
    font-weight: lighter;
    margin: 0;
}

.item:hover:not(:has(.dropdown:hover))  {
    background: rgb(245, 245, 245);
}

.div, ::deep .dots-button {
    padding: 0;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
}
